/* components/RestaurantList/RestaurantList.module.css */
.restaurantList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* По умолчанию 3 карточки в ряд, когда карта показывается */
  gap: 20px;
  width: 100%;
  height: auto; /* Список занимает столько высоты, сколько нужно карточкам */
}

/* Сетка на всю ширину с 4 ресторанами в ряд */
.fullWidthGrid {
  grid-template-columns: repeat(4, 1fr); /* 4 карточки в ряд когда карта скрыта */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 1200px) and (min-width: 769px) {
  .restaurantList {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд на средних экранах */
  }
  
  .fullWidthGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд когда карта скрыта на средних экранах */
  }
}

@media (max-width: 768px) {
  .restaurantList, 
  .fullWidthGrid {
    grid-template-columns: 1fr; /* 1 карточка в ряд на мобильных */
  }
}